@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
	border: 0;	
}
body{
	font-family: 'josefin_thin'; /*parafos botones y lista se le aplicara esta falima tipografica*/
}
h1,h2,h3,h4,h5,h6{
	font-family: 'josefin_semibold';
}
nav{
	width: 100%; 
	height: 70px;
	background-color: #E9ED58;
}
header{
	width: 100%;
	height: 600px;
	background-image: url(../recursos/img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
section#promo{
	width: 100%;
	height: 400px;
	background-image: url("../recursos/img/bg_bienvenida.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
section#contenidos{
	width: 100%;
	height: 600px;
	background-image: url(../recursos/img/fondoEspecialidades.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
}
section#ubicacion{
	width: 100%;
	height: 422px;
}
footer{
	width: 100%;
	height: 200px;
	background-color: #A1C133;
}
/* el % tomara el tamaño del contenedor padre en funcion del contenedor padre*/ 
/*clases compuestas se divide con comas siempre y se usa cuando "el div" tengan similitudes*/
div#centrarNav, div#centrarHeader, div#centrarPromo, div#centrarContenidos, div#centrarUbicacion, div#centrarFooter{
	width: 1200px;
	height: 100%;
	margin: 0 auto; /*para centrar en una sola instrcuin a ambos lados*/
	position: relative;
}
div#face{
	width: 21px;
	height: 21px;
	margin-left: 15px;
	background-image: url("../recursos/redes/face.svg");
}
div#face:hover{
	background-image: url("../recursos/redes/faceHover.svg");
}
div#twit{
	width: 21px;
	height: 21px;
	margin-left: 15px;
	margin-top: 3px; /*se recomeinda poner margon top para alinear*/
	background-image: url("../recursos/redes/twit.svg");
}
div#twit:hover{
	background-image: url("../recursos/redes/twitHover.svg");
}
div#insta{
	width: 21px;
	height: 21px;
	margin-top: 3px;
	margin-left: 15px;
	background-image: url("../recursos/redes/insta.svg");
}
div#insta:hover{
	background-image: url("../recursos/redes/instaHover.svg")
}
nav ul#menuPrincipal{
	float: left;
	margin-top: 20px;
	margin-right: 15px;
	list-style: none;
}
navul#socialesTop{
	float: left;
	margin-top: 20px;
	list-style: none;
	margin-left: 20px;
	text-align: center;
}
nav ul#menuPrincipal li{
	float: left;
	margin-left: 30px;
}
nav ul#socialesTop li{
	float: right;
	margin-left: 30px;
}
div#centrarNav img{
	float: left;
	margin-left: 10px;
	padding-top: 19px;
}
nav ul#menuPrincipal li a{
	color: #262626;
	text-decoration: none;
	font-size: 18px;
	font-weight: 100; 
}
nav ul{
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	list-style: none;
}
nav div#centrarNav a:hover{ 
	color: #FF5E60;
}
div#boxPromo{
	width: 477px;
	height: 158px;
	position: absolute;
	margin-right: 139px;
	top: 121px;
	left: 630px;
}
div#boxPromo h2{
	text-align: right;
	font-size: 36px;
	color: #A1C133;
	margin-bottom: 20px;
}
div#boxPromo p{
	text-align: right;
	font-size: 25px;
	color: black;
}
div#boxMapa{
	width: 720px;
	height: 285px;
	background-color: #A1C133;
	position: absolute;
	top: 112px;
	left: 236px;
}
iframe#mapa{
	margin-left: 22px;
	margin-top: -60px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.5);
	/* desp. en  x 	 y  blur rgba (0,0,0,0)*/
}
div.footerA, div.footerB{
	height: 110px;
	float: left;
	margin-top: 60px;
	margin-left: 8px;
	margin-right: 8px;
}
div.footerA{
	width: 174px;
}
div.footerB{
	width: 276px;
}
div#centrarFooter div.footerA ul{
	list-style: none;
}
ul#menuFooter a, ul#socialesFooter a{
	color: white;
	text-decoration: none;
}
div.footerA ul#menuFooter a:hover, ul#socialesFooter a:hover{
	color: #FF5E60;
}
div.footerB h5{
	color: white;
	font-size: 14px;
}
div.footerB h6{
	color: white;
	font-size: 14px;
}
input#email{
	width: 180px;
	height: 40px;
	border: solid 1px white;
	background-color: transparent;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	padding-left: 10px;
}
::-webkit-input-placeholder{color: #B14E80;}/*para Safari y Chrome*/
::-moz-input-placeholder{color: #B14E80;} /*Mozilla Firefox*/
::-ms-input-placeholder{color: #B14E80;} /*Microsoft IE o Edge*/
::-o-input-placeholder{color: #B14E80;} /*Opera*/
input-placeholder{color: #B14E80;} /*Universal*/
input#enviar{
	width: 70px;
	height: 42px;   
	background-color: white;
	color: #A1C133;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	margin-left: -5px;
	cursor: pointer;
}
input#enviar:hoover{
	background-color: #FF5E60;
	color: white;
}
div#face2{
	width: 21px;
	height: 21px;
	background-image: url(../recursos/redes/face.svg);
	float: left;
	margin-right: 10px;
}
dive#face2:hoover{
	background-image: url(../recursos/redes/faceHover.svg);
}
dive#twit2{
	width: 21px;
	height: 21px;
	background-image: url(../recursos/redes/twit.svg);
	float: left;
	margin-right: 10px;
}
dive#twit2:hoover{
	background-image: url(../recursos/redes/instaHover.svg);
}
dive#insta2{
	width: 21px;
	height: 21px;
	background-image: url(../recursos/redes/insta.svg);
	float: left;
	margin-right: 10px;
}
div#insta2:hoover{
	background-image: url(../recursos/redes/instaHover.svg);
}